

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body{

    background-repeat: no-repeat;
    width: 1500px;
    height: 907px;
}

#post_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}
.vis_post_inButton{
    margin: 10px;
    width: 150px;
    height: 40px;
    background-color: orange;
    color: black;
}

/*  creat Post model  */
.vis_post_model{
    position: fixed;
    display: none;
    z-index:1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    margin:-5px;
}
.vis_post_form{
    padding: 15px 50px;
    background-color: #dddddd;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 50%;
    height: 80%;
}

.vis_post_form h1{
    text-align: center;
}
.vis_post_form form input{
    width: 50%;
    height: 30px;
    margin-top: 2px;
    font-size: 15px;
    border: 2px solid #dddddd;
    color: #1b1717;
}
.vis_post_form form input:focus{
    border-bottom: 2px solid #4CAF50;
    background-color: #dddddd;
}

.vis_post_form form p{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}
.vis_post_form form .vis_button{
    width: 40%;
    margin:30px 30%;
    justify-content: center;
    background-color: #4CAF50;
    height: 30px;
    color:white;
}


.vis_post_form form textarea{
    width: 100%;
    height: 300px;
    margin-top: 2px;
    font-size: 15px;
    border: 2px solid #dddddd;
    color: #1b1717;
}
.vis_post_close{
    font-size: 50px;
    float: right;
}
.vis_post_close:hover{
    color: #4CAF50;
}

