
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.parent_vis_container{
    margin: 0 5%;
}

.parent_vis_container #container_heading_1{
    text-align: center;
    font-size: 30px;
    font-family: 'Handlee', cursive;
}
.parent_vis_container #container_heading_1_edit{
    margin:0px auto;
    display:none;
    height: 34px;
    overflow: hidden;
    width: auto;
    font-size: 30px;
    border: 2px solid lightpink;
    font-family: 'Handlee', cursive;
}

.parent_vis_container .container_name_edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.parent_vis_container .container_name_edit #name{
    font-size: 20px;
    font-family: 'Aclonica', sans-serif;
}


.parent_vis_container .container_name_edit #edit{
    height: 40px;
    font-size: 15px;
    padding: 5px 20px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;

}

.parent_vis_container .container_name_edit #save{
    display: none;
    height: 40px;
    font-size: 15px;
    padding: 5px 20px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;

}
.parent_vis_container #like{
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    padding: 5px 40px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;
    border-radius: 5px;
}
.parent_vis_container #comment_add_content{
    height: 100px;
    width: 60%;
}

.parent_vis_container #comment{
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    padding: 5px 40px;
    background-color: #ff3385;
    color: white;
    border: none;
    box-shadow: 2px 5px 10px #ff3385;
}

.parent_vis_container #all_comment{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 20px;
}
.parent_vis_container #all_comment .comment_content{
    background-color: white;
    width: 100%;
    height:40px;
    align-content: center;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}
#post_body_edit{
    width: 100%;
    display: none;
    margin-top: 10px;
    border: 2px solid lightblue;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
}
#post_body{
   font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
}

